<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>754374384657-fnkkh5886ajnepjv663piv82ngem8c4u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754374384657-fnkkh5886ajnepjv663piv82ngem8c4u</string>
	<key>API_KEY</key>
	<string>AIzaSyCEwgjFBXnlot8NU-SP2j18QTZlZpkx9k4</string>
	<key>GCM_SENDER_ID</key>
	<string>754374384657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dentamuhajir.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-ios-app-1f2af</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-ios-app-1f2af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754374384657:ios:a7c4619757c43ac06be5b0</string>
</dict>
</plist>